{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="content-wrapper py-4">
  <div class="container">
    <!-- Filtre haut -->
    <div class="row mb-4 align-items-center pt-5" style="margin-top: 8px;">
      <!-- À la une / Autour de moi -->
      <div class="col-12 col-md-8 mb-2 mb-md-0" style="margin-top: 8px;">
        <ul class="list-inline mb-0 mt-2 mt-md-0">
          <li class="list-inline-item">
            <a href="#" class="color-active">À la une</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Autour de moi</a>
          </li>
        </ul>
      </div>

      <!-- Filtrer par -->
      <div class="col-12 col-md-4 text-md-right text-center">
        <div class="btn-group bg-clean">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filtrer par <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a onclick="getProductsAndRender('views')">
                <i class="cv cvicon-cv-calender"></i> Popularité
              </a>
            </li>
            <li>
              <a onclick="getProductsAndRender('date')">
                <i class="cv cvicon-cv-calender"></i> Récent
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Articles -->
    <div class="row" id="articlelist">
      <!-- injectés dynamiquement -->
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  function getProductsAndRender(option = '') {
    $.ajax({
      url: "/api/products" + '?sort=' + option,
    }).done(function(result) {
      $('#articlelist').empty();
      for (let i = 0; i < result.length; i++) {
        renderProduct(result[i]);
      }
    });
  }

  function renderProduct(product) {
    $('<div class="col-lg-4 col-md-6 col-sm-12 mb-4">' +
        '<div class="b-article h-100 d-flex flex-column">' +
        '  <div class="v-img w-100">' +
        '    <a href="/product/' + product.id + '">' +
        '      <img src="/storage/' + product.picture + '" alt="" class="img-fluid" style="aspect-ratio: 16/9; object-fit: cover;">' +
        '    </a>' +
        '  </div>' +
        '  <div class="v-desc px-2 pt-2">' +
        '    <a href="/product/' + product.id + '">' + product.name + '</a>' +
        '  </div>' +
        '  <p class="px-2 mb-1">' + product.description.slice(0, 60) + '...</p>' +
        '  <div class="v-views px-2 pb-2 text-muted small">' + product.views + ' vues</div>' +
        '</div>' +
        '</div>')
      .appendTo($('#articlelist'));
  }

  $(document).ready(function() {
    getProductsAndRender();
  });
</script>
{% endblock %}
